 @model  List<muhasebe22.Models.Admin>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@* @foreach(var item in Model)
{
    <h1>@item.kul</h1>
    <h1>@item.sifre</h1>
}
 *@
 <a href="/Admin/Create">Yeni</a>
 <a asp-action="Create" asp-controller="Admin" class="btn btn-primary">Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kullanıcı Adı</th>
            <th scope="col">Şifresi</th>
            <th scope="col">Düzeltme</th>
            <th scope="col">Silme</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <th scope="row">1</th>
            <td>@item.kul</td>
            <td>@item.sifre</td>
         <td><a asp-action="Edit"  asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-primary">Düzelt</a></td>
         <td><a asp-action="Delete" asp-controller="Admin" asp-route-id="@item.Id"  class="btn btn-danger">Silme</a></td>
           
        </tr>
        }
        
    </tbody>
</table>